main {
    /*background-color: #1f1138;
    color: white;*/
}

img {
    height: 4rem;
    display: inline-block;
}

.header {
    text-align: center;
}

h3 {
    display: inline-block;
    font-family: 'Dosis', sans-serif;
    padding-top: 1rem;
}

.pay {
    text-align: center;
    margin: 0;
}

p {
    display: inline-block;
    padding-left: 1rem;
    font-family: 'Dosis', sans-serif;
}

.tables {
    display: block;
}

table {
    display: block;
}


td:first-child { /*hele raden*/
    width: 1%;
}

thead {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.number {
    font-size: 1.1rem;
    max-width: 1rem;
    margin: auto;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.name {
    margin-left: 0.2rem;
    font-size: 1.1rem;
    font-family: 'Dosis', sans-serif;
}

h5 {
    margin: 0.5rem;
    width: 100%;
}

input {
    border-radius: 0.1rem;
    width: 100%;
    font-family: 'Dosis', sans-serif;
}

@media only screen and (min-width: 800px) {
    h3 {
        display: inline-block;
    }

    .tables {
        display: flex;
    }

    table {
        border: 0.1rem inset rgba(101, 0, 183, 0.44);
        border-radius: 0.1rem;
        width: 30%;
        display: inline-block;
    }

    td { /*hele raden*/
        width: 100%;
    }


    .pay {
        text-align: center;
    }

    p {
        display: inline-block;
        padding: 1rem;
    }

    .number {
        font-size: 1rem;
        width: 1rem;
    }

    .name {
        width: 35rem;
    }

    input {
        width: 35rem;
        border: 0.1rem inset #6500b7;
        border-radius: 0.1rem;
    }

}